In [159]:
students = [
    {'Ali': {'Math':[99],'Physics': [53,21],'Biology': [34,13],'Chemistry':[60, 24]}},
    {'Zara': {'Math':[60],'Physics': [63,11],'Biology': [56,24],'Chemistry':[55, '']}},
    {'Hassan': {'Math':[100],'Physics': [13,8],'Biology': [56,8],'Chemistry':[12, 25]}},
     ]

In [15]:
#Find highest marks in Math

def highest_mark(data):
    highest = 0
    for x in students:
        for y in x :
            marks = x[y]['Math'][0]
            if marks > highest:
                highest = marks
            else:
                highest = highest
    print(highest)        
            
    
highest_mark(students)

100

In [ ]:
#Students who failed Physics Practical

In [149]:
lst = {}
def failed_physics_practical(data_list):
    for x in students:
        for name, key in x.items():
            for y in key:
                marks = key['Physics'][1]
                if marks < 10:
                    lst[name] = marks
                    
    print(lst)           
                    
    
    
    
failed_physics_practical(students)

{'Hassan': 8}

In [170]:
#Calculate total marks for each student
dic = {}
def total_students(data):
    for x in students:
        for name, val in x.items():
            for y in val:
                marks = [i for i in val[y] if i!=""]
                if name in dic:
                    dic[name] = dic[name] + sum(marks)
                else:
                    dic[name] = sum(marks)
            
    print(dic)
    
total_students(students)

{'Ali': 304, 'Zara': 269, 'Hassan': 222}

In [215]:
#calculate positions
lst = []
def calculate_positions(data_list):
    for x in students:
        for y in x:
            marks = x[y]['Math'][0] + sum([i for i in x[y]['Physics'] if i!=""]) + sum([i for i in x[y]['Biology'] if i!=""]) + sum([i for i in x[y]['Chemistry'] if i!=""])
            lst.append(marks)
            lst.sort(reverse=True)
            first = lst[:1][0]
            second = lst[1:2][0]
            third = lst[-1:][0]
    print("The first position is: ",first)
    print("The second position is: ",second)
    print("The third position is: ",third)
        
calculate_positions(students)

The first position is:  [304]
The second position is:  [269]
The third position is:  222

In [217]:
#Calculate Total lowest marks in biology
bio_list = []
def lowest_in_biology(data):
    for x in students:
        for y in x:
            marks = sum([i for i in x[y]["Biology"] if i!=""])
            bio_list.append(marks)
            bio_list.sort()
            
            
    print("The total lowest marks in biology is: ",bio_list[:1][0])        
    
    
lowest_in_biology(students)

The total lowest marks in biology is:  47

In [224]:
#Find student who were absent in Chemistry Practical classs
absent_pract= {}
def absent_student(data):
    for x in students:
        for name, val in x.items():
            pract = val['Chemistry'][1]
            if pract == "":
                absent_pract[name] = "Absent in Chemistry Practical"
                
    print(absent_pract)        
absent_student(students)

{'Zara': 'Absent in Chemistry Practical'}

In [281]:
#Highest marks in all practicals
lst = []
lst_chem = []
def highest_in_practicals(data):
    for x in students:
        for y in x:
            pract_phy = [i for i in x[y]['Physics'] if i !=""][1]
            pract_bio = [i for i in x[y]['Biology'] if i !=""][1]
            for i in x[y]['Chemistry']:
                if i != "":
                    pract_chem = x[y]['Chemistry'][1]
                else:
                    pract_chem = 0
            
            total_pract = (pract_phy + pract_chem + pract_bio)
            lst.append(total_pract)
            lst.sort(reverse=True)
    print("The total highest marks in practicals are : ",lst[:1][0])
                
            
            
            
highest_in_practicals(students)

The total highest marks in practicals are :  58

In [285]:
#Lowest theory marks in Physics
lowest_in_phy_theory = 0
def lowest_in_physics_theory(data):
    for x in students:
        for y in x :
            marks = x[y]["Physics"][0]
            lowest_in_phy_theory = marks
            if marks < lowest_in_phy_theory:
                lowest_in_phy_theory = marks
    print("The lowest marks in Physics Theory are :", lowest_in_phy_theory)
                
       
    
lowest_in_physics_theory(students)

The lowest marks in Physics Theory are : 13

In [306]:
#Grade of each student
t = {}
total_marks = 400
def calculating_grade(data):
    for x in students:
        for name, val in x.items():
            for j in val:
                marks = [i for i in val[j] if i!=""]
                
                if name in t :
                    t[name] = t[name] + sum(marks)
                else:
                    t[name] = sum(marks)
                    
    for k in t:
        obtained_percentage = (t[k] / total_marks)*100
        if obtained_percentage >= 95:
            print(k," got 'A+' ")
        elif obtained_percentage >= 85 and obtained_percentage < 95 :
            print(k," got 'A' ")
        elif obtained_percentage >= 75 and obtained_percentage < 85 :
            print(k," got 'B' ")
        elif obtained_percentage >= 65 and obtained_percentage < 75 :
            print(k," got 'C' ")
        elif obtained_percentage >= 50 and obtained_percentage < 65 :
            print(k," got 'D' ")
        elif obtained_percentage >= 49 and obtained_percentage < 65 :
            print(k," got 'E' ")  
        else:
            print(k, "got 'F' ")
        
calculating_grade(students)

Ali  got 'B'
Zara  got 'C'
Hassan  got 'D'

In [313]:
#function to convert dateformat


sample_date = "26/12/2021"
def date_format(date):    
    if type(date) == str:
        print(date[:2]+'-'+date[3:5]+'-'+date[6:])
            
    else:
        print("invalid input")
    
    
date_format(sample_date)

26-12-2021

In [314]:
#Given string is palindrome
def checking_palindrome(data):
    if data == data[::-1]:
        print(True)
    else:
        print(False)
    
    
    
checking_palindrome("SAS")

True

In [317]:
#Remove Duplicates from list
a = [1,2,3,2,5,6,7,9,10,5,2,1,3,3,22]

def remove_dup(data):
    after_effect =  list(dict.fromkeys(data))
    print(after_effect)
    
remove_dup(a)

[1, 2, 3, 5, 6, 7, 9, 10, 22]

In [318]:
#convert b to a string so that it becomes imeyouthey'

b = ['i', 'me', 'you', 'they']

def combine(data_list):
    my_list = ""
    for x in data_list:
        my_list = my_list + x
        
    print(my_list)    
        

    
combine(b)

imeyouthey

In [322]:
#loop through b and print each element along with it's index
for count, ele in enumerate(b):
    print(count, ele)

0 i
1 me
2 you
3 they

In [ ]:
#with the help of format function print the value of pi only upto 3 decimal places
import math as mt
def pi_funct(data):
    
    x = "The value of pi upto 3 decimal places is {:.3} ".format(mt.pi)
    print(x)


pi_funct(mt.pi)

In [ ]:
s = 'strings are same as lists but immutable'

print("The string from index four to index twenty is : ", s[4:21])

In [ ]:
#count how many times an alphabet is apeared in sting s. The result should be a dictionay with alphabet as
#key and number of times it appeared as it value. e:g {s:12, a:3}

def count_func(data):
    count = 1
    name = {}
    
    for x in data:
        if x not in name:
            name[x] = count
        elif x in name:
            name[x] = name[x] + 1
    
    print(name)
    
count_func(s)

In [ ]:
from math import log, pi

In [ ]:
s2 = 'strings are same as lists but immutable'
for count, ele in enumerate(s2):
        x = "The number indexes are {} and the val {},".format(count,ele)
        print(x)

In [323]:
x = [12, 3, 6, 7, 2, 3, 6, 11, 14]

In [325]:
#using list comprehension, filter numbers which are > 10 and then add 5 to them. result should be
#res = [17, 16, 19]

res = [i+5 for i in x if i >10]
print(res)

[17, 16, 19]

In [ ]:
#split the s2 into a list so that it becomes ['strings', 'are', 'same', 'as', 'lists', 'but', 'immutable']

In [326]:
s2 = 'strings are same as lists but immutable'
s3 = s2.split(' ')
print(s3)

['strings', 'are', 'same', 'as', 'lists', 'but', 'immutable']

In [ ]:
#convert s4 into a string
s4 = ['strings', 'are', 'same', 'as', 'lists', 'but', 'immutable'] 
def combine(data):
    merge = ""
    for x in data:
        merge = merge + str(x)
        
    print(merge)    
    
    
    
combine(s4)

In [ ]:
#print keys
numbers = {'name':1, 'two':2, 'age':3}
for x in numbers:
    print (x)

In [ ]:
#print all the values in numbers
for x in numbers:
    print(numbers[x])

In [ ]:
#Rename 'name' key to 'firstname'
old_key = "name"
new_key = "firstname"

numbers[new_key] = numbers.pop(old_key)
numbers

In [339]:
#Write a function that prints the numbers from 1 to 100 and for multiples of ‘3’ print “Fizz” instead of the 
#number and for the multiples of ‘5’print “Buzz”.



def number_func():
    for x in range(1,100):
        if x%3 == 0:
            print("Fizzzzzz")
        elif x%5 == 0:
            print("Buzzzzzz")
        else:
            print("Other numbers:",x)
        #print(x)
    
    
    
number_func()

Other numbers: 1
Other numbers: 2
Fizzzzzz
Other numbers: 4
Buzzzzzz
Fizzzzzz
Other numbers: 7
Other numbers: 8
Fizzzzzz
Buzzzzzz
Other numbers: 11
Fizzzzzz
Other numbers: 13
Other numbers: 14
Fizzzzzz
Other numbers: 16
Other numbers: 17
Fizzzzzz
Other numbers: 19
Buzzzzzz
Fizzzzzz
Other numbers: 22
Other numbers: 23
Fizzzzzz
Buzzzzzz
Other numbers: 26
Fizzzzzz
Other numbers: 28
Other numbers: 29
Fizzzzzz
Other numbers: 31
Other numbers: 32
Fizzzzzz
Other numbers: 34
Buzzzzzz
Fizzzzzz
Other numbers: 37
Other numbers: 38
Fizzzzzz
Buzzzzzz
Other numbers: 41
Fizzzzzz
Other numbers: 43
Other numbers: 44
Fizzzzzz
Other numbers: 46
Other numbers: 47
Fizzzzzz
Other numbers: 49
Buzzzzzz
Fizzzzzz
Other numbers: 52
Other numbers: 53
Fizzzzzz
Buzzzzzz
Other numbers: 56
Fizzzzzz
Other numbers: 58
Other numbers: 59
Fizzzzzz
Other numbers: 61
Other numbers: 62
Fizzzzzz
Other numbers: 64
Buzzzzzz
Fizzzzzz
Other numbers: 67
Other numbers: 68
Fizzzzzz
Buzzzzzz
Other numbers: 71
Fizzzzzz
Other numbers: 73
Other numbers: 74
Fizzzzzz
Other numbers: 76
Other numbers: 77
Fizzzzzz
Other numbers: 79
Buzzzzzz
Fizzzzzz
Other numbers: 82
Other numbers: 83
Fizzzzzz
Buzzzzzz
Other numbers: 86
Fizzzzzz
Other numbers: 88
Other numbers: 89
Fizzzzzz
Other numbers: 91
Other numbers: 92
Fizzzzzz
Other numbers: 94
Buzzzzzz
Fizzzzzz
Other numbers: 97
Other numbers: 98
Fizzzzzz