In [8]:
students = [
    {'Ali': {'Math':[99],'Physics': [53,21],'Biology': [34,13],'Chemistry':[60, 24]}},
    {'Zara': {'Math':[66],'Physics': [63,11],'Biology': [56,24],'Chemistry':[55, '']}},
    {'Hassan': {'Math':[100],'Physics': [13,8],'Biology': [56,8],'Chemistry':[12, 25]}},
     ]

In [ ]:
1 - Find highest marks in Maths

In [ ]:
2 - Student who failed Physics' practical

In [ ]:
d3 - calcualte total marks for each student

4 -calcuate first three positions according to marks

In [ ]:
5 - calcuate total lowest marks in Biology

In [ ]:
6 - Find students who were absent in Chemistry practical(where practical is an empty string)

In [ ]:
7 - Find hightest marks in practicals(all subjects)

In [ ]:
8 - Find lowest theory marks in Physics

In [ ]:
9 - calcuate grade of each student

10 - write a function which which receive a data formate 'dd/mm/yyyy' and convert it to 'dd-mm-yyyy

In [ ]:
11 - write a function which receive a string as parameter and then determines if the string is palindrom? 
research what is palindrom. note: The function returns True if the  string is palindrom otherwise false

In [ ]:
12 - Write a function that prints the numbers from 1 to 100 and for multiples of ‘3’ print “Fizz” instead of the 
number and for the multiples of ‘5’print “Buzz”.

In [13]:
a = [1,2,3,2,5,6,7,9,10,5,2,1,3,3,22]

In [ ]:
13 - remove duplicates from list a

In [14]:
b = ['i', 'me', 'you', 'they']

In [16]:
14 - convert b to a string so that it becomes imeyouthey'

'imeyouthey'

In [ ]:
15 - loop through b and print each element along with it's index

In [19]:
import math as mt 
mt.pi

3.141592653589793

In [ ]:
16 - with the help of format function print the value of pi only upto 3 decimal places

In [ ]:
s = 'strings are same as lists but immutable'

In [ ]:
17 - slice string s so that it only show from the index 4 to 20

In [ ]:
18 - count how many times an alphabet is apeared in sting s. The result should be a dictionay with alphabet as
key and number of times it appeared as it value. e:g
    {
        s:12,
        b:2
    }

In [ ]:
19 - from math module, import log and pi

In [ ]:
x = [12, 3, 6, 7, 2, 3, 6, 11, 14]

In [ ]:
20 - using list comprehension, filter numbers which are > 10 and then add 5 to them. result should be
res = [17, 16, 19]

In [ ]:
s2 = 'strings are same as lists but immutable'

In [ ]:
21 - print each letter of s2 along with it's index

In [ ]:
22 - split the s2 into a list so that it becomes ['strings', 'are', 'same', 'as', 'lists', 'but', 'immutable']

In [ ]:
s4 = ['strings', 'are', 'same', 'as', 'lists', 'but', 'immutable']

In [ ]:
23 - convert s4 into a string

In [ ]:
numbers = {'name':1, 'two':2, 'age':3}

In [ ]:
24 - print all the keys in numbers

In [ ]:
25 - print all the values in numbers

In [ ]:
26 = Rename 'name' key to 'firstname'